<li class="country-list__item">полное имя страны:{{name}}</li>
<li class="country-list__item">столица:{{name}}</li>
<li class="country-list__item">полное имя страны:{{name}}</li>
<li class="country-list__item">полное имя страны:{{name}}</li>
<li class="country-list__item">полное имя страны:{{name}}</li>

