
{{#each this}}
<div>
    <h2>Name: {{this.name}}</h2>
    <img src = "{{this.flag}}" alt = "flag" width="60">
    <p>Capital: {{this.capital}}</p>
    <p>Population: {{this.population}}</p>
    
    <p>Language: {{this.languages}}</p>
    
    <ul>
        {{#each languages}}
        <li>{{this.languages.name}}</li>
            {{/each}}
    </ul>
    </div>
        {{/each}}




