<li class="country-list__item">{{name}}</li>
<li class="country-list__item">{{capital}}</li>
<li class="country-list__item">{{population}}</li>
<li class="country-list__item">{{flag}}</li>
<li class="country-list__item">{{languages}}</li>

